body {
  background-image: url("download1.jpg");
  object-fit: cover;
}

.hd1 {
  margin-top: 40px;
  text-align: center;
  font-size: 50px;
  color: Green;
}

.hd2 {
  text-align: center;
  font-size: 35px;
  color: Green;
}

.dv2 {
  margin: 0 auto;
  width: 350px;
}

.lb {
  font-size: 20px;
  margin-bottom: 10px;
}

.ip {
  height: 40;
  width: 350;
  border-style: solid;
  border-radius: 4px;
  border-color: #20c997;
  border-width: 3px;
}

.dv3 {
  margin: 0 auto;
  width: 400px;
}

.sub {
  height: 40;
  width: 400;
  cursor: pointer;
  border-width: 5px;
  border-style: solid;
  border-radius: 7px;
  background-color: #20c997;
  border: none;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.sub:hover {
  background-color: #108f69;
}
